@{

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Index</title>

</head>

<body>

    <div>

        <h2>Import Data from ExcelSheet</h2>

        <form method="post" enctype="multipart/form-data">

            <div>

                <input name="file" type="file" required />

                <button type="submit" id=" Success">Upload</button>

            </div>

            <script src="~/Scripts/jquery-3.6.0.js"></script>
            <script>
        $(document).ready(function () {
            $("button").click(function () {
                alert("Insertion Successfull");
            });
        });
            </script>

        </form>

    </div>

</body>

</html>
